body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
  /*background-image: url("/image/icon.png");*/
  color: #333;
}


header {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header a {
  color: #cc0000;
  text-decoration: none;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

.art-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s ease;
  /*aspect-ratio: 4 / 3;*/
  object-fit: cover;
  } 
	

.art-item img:hover {
  transform: scale(1.03);
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9em;
  /*clear: both;
  position: relative;
  z-index: 1;*/
}
