body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
  /*background-image: url("/image/icon.png");*/
  color: #333;
}

header {
  background-color: #f0f0f0;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container {
  display: flex;
  justify-content: flex-end;/*before was space-between => push tabs to the right */
  align-items: center;
}
header {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  }

main {
  text-align: center;
}

header a {
  color: #cc0000;
  font-size: 22;
  text-decoration: none;
  font-weight: bold;
}
/*from - Adding contact and about tabs */
/*
logo a {
  font-size: 24px;
  color: #333;
}
*/
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #007acc;
}

.nav-links a.active {
  color: #007acc;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
  }

  .nav-links.active {
    display: flex;
  }
}
/*to - Adding contact and about tabs */



.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

.art-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s ease;
  /*aspect-ratio: 4 / 3;*/
  object-fit: cover;
  } 

.art-item img:hover {
  transform: scale(1.03);
}


.footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9em;
  /*clear: both;
  position: relative;
  z-index: 1;*/
}
